@{
    ViewData["Title"] = "تماس با ما";
}
<h1>@ViewData["Title"]</h1>


<div class="jumbotron">
    <h1 class="display-3">تماس با ما</h1>
    <p class="lead">راه های ارتباطی :</p>
    <hr class="my-4">
    <p>09130611643</p>
    <p>moh99soheil@gmail.com</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">بیشتر بدانید</a>
    </p>
</div>
