@model RegisterViewModel
@{
    ViewData["Title"] = "SuccessRegister";
}

<h1>ثبت نام با موفقیت انجام شد</h1>

<div class="alert alert-success">
     کار بر گرامی با ایمیل @Model.Email  ثبت نام با موفقیت انجام شد میتوانید از طریق لینک زیر وارد سایت شوید
    <p>
        <a asp-controller="Account" asp-action="Login">
        </a>
    </p>
</div>

